.logo-section {
  width: 220px;
  height: 31px;
  padding-left: 20px;
  float: left;
}

.logo-section img {
  width: 55px;
}

.navigation .ant-menu {
  text-align: right;
}

.ant-layout {
  background: white;
  margin: 0 10%;
  height: 100vh;
}

.ant-layout-content .main {
  height: 100vh;
  align-items: center;
  display: flex;
}

.ant-layout-header {
  background: white;
}

.ant-layout-header {
  background: white;
}

.main .title {
  margin-top: 10%;
  font-size: 2rem;
}

.main .content-footer {
  margin-top: 2rem;
}

.main .content-footer .anticon {
  font-size: 1.5rem;
  cursor: pointer;
}

.main .sub-title {
  font-weight: 300;
}

.main .section-image {
  width: 100%;
}

.projects {
  margin-top: 2rem;
}

.projects .project-content {
  padding: 1.5rem;
}

.projects .project-content .anticon-link {
  margin-left: 0.5rem;
  font-size: 1.1rem;
}

.photography {
  margin: 4rem;
}

.photography .react-photo-gallery--gallery img {
  margin: 0.5rem;
  border: 1px solid lightgray;
}

.about {
  margin: 8rem;
}

.about .about-desc {
  font-weight: 300;
  line-height: 2rem;
  margin-top: 1.5rem;
}
