.logo {
  width: 220px;
  height: 31px;
  padding-left: 20px;
  float: left;
}

.navigation .ant-menu {
  text-align: right;
}

.ant-layout-content {
  background: white;
  font-weight: 100;
}

/* .anticon-loading {
  font-size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #08c;
  height: 50vh;
} */
